{
    "baseUrl": "http://localhost",
    "port": "3000",
    "mongo": {
        "uri": "mongodb://localhost/passport_example"
    },
    "session": {
        "secret": "your-session-secret"
    },
    "twitter": {
        "consumerKey": "your-consumer-key",
        "consumerSecret": "your-consumer-secret"
    },
    "facebook": {
        "clientID": "your-app-id",
        "clientSecret": "your-app-secret"
    }
}
